<?xml version="1.0"?>
<configuration>
  <system.serviceModel>
    <services>
      <service name="Agatha.ServiceLayer.WCF.WcfRequestProcessor"
               behaviorConfiguration="RequestProcessorBehavior">
        <endpoint address=""
                  contract="Agatha.Common.WCF.IWcfRequestProcessor"
                  binding="basicHttpBinding"
                  bindingConfiguration="RequestProcessorBinding"/>
      </service>
    </services>
    <bindings>
      <basicHttpBinding>
        <binding name="RequestProcessorBinding"
                 maxReceivedMessageSize="2147483647"
                 receiveTimeout="00:30:00"
                 sendTimeout="00:30:00">
          <readerQuotas maxStringContentLength="2147483647"
                        maxArrayLength="2147483647"/>
          <security mode="None" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="RequestProcessorBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
          <dataContractSerializer maxItemsInObjectGraph="2147483647"/>
          <serviceThrottling maxConcurrentCalls="500"
                             maxConcurrentInstances="500"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0"
                      sku=".NETFramework,Version=v4.0"/>
  </startup>
  <runtime>
    <gcServer enabled="true"/>
  </runtime>
</configuration>