<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="exceptionHandling" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Configuration.ExceptionHandlingSettings, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true"/>
  </configSections>
  <exceptionHandling>
    <exceptionPolicies>
      <add name="ExceptionShielding">
        <exceptionTypes/>
      </add>
    </exceptionPolicies>
  </exceptionHandling>
  <startup>
    
  <supportedRuntime version="v2.0.50727"/></startup>
</configuration>
